<ion-view view-title="Login" hide-nav-bar="true">

    <div class="spinner" ng-show="vm.progress">
        <ion-spinner icon="lines" class="spinner-royal"></ion-spinner>
    </div>

    <ion-content class="login-bg" ng-show="!vm.progress" padding="true">

        <div id="fb-root"></div>

        <div class="login-content">
            <img class="animated fadeInDown col-offset-20" src="img/app-logo.png">

            <ng-form name="login_form" class="form-container" novalidate>
            <div class="input-list list list-inset animated bounceInLeft ">
              <label class="item item-input">
                <input type="number" placeholder="Enter your mobile number" name="mobile"
                       ng-model="vm.user.mobile"
                       ng-pattern="/^[0-9]*$/" required>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="password" name="password" ng-model="vm.user.password" required show-hide-input>
              </label>
            </div>
            <p ng-show="error" class="message error">{{vm.error}}</p>
            <div class="animated bounceInRight">
              <button type="submit" class="button button-royal button-block" ng-click="vm.signin()" ng-disabled="login_form.$invalid">
                Log in
              </button>
            </div>
          </ng-form>
          <div class="alternative-actions text-center">
            <button class="button button-clear button-royal" ui-sref="auth.forgot">
              <strong>Forgot Password?</strong>
            </button>
          </div>

                <button class="button button-small button-block button-stable animated slideInUp" ng-click="vm.fbLogin()">
                    <span class="positive padding-right"><i class="icon ion-social-facebook"></i></span><span class="positive"> LogIn With Facebook </span>
                </button>

      </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-royal">
    <div class="buttons">
      <button class="button"></button>
    </div>
    <a ui-sref="auth.signup"><h1 class="title">New Here? Sign Up</h1></a>
    <div class="buttons">
      <button class="button"></button>
    </div>
  </ion-footer-bar>
</ion-view>
