<ion-view view-title="Basic Info" hide-nav-bar="true" class="basic-info-bg" cache-view="false">

    <ion-content class="basic-info-bg" overflow-scroll="true">

        <div class="row">
            <img src="../../img/basic-info-header.jpg" width="100%" class="img-responsive">
        </div>

        <div class="row">
            <div class="col col-center">

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label"><strong>Name  </strong></span>
                        <input class="bottom-border-input" type="text" ng-model="vm.user.name" placeholder="your name">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><strong>Phone Number</strong></span>
                        <input class="bottom-border-input" type="text" ng-model="vm.user.mobile" placeholder="your mobile">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><strong>Age</strong></span>
                        <input class="bottom-border-input" type="number" ng-model="vm.user.age" placeholder="your age">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><strong>Weight (Kg)</strong></span>
                        <input class="bottom-border-input" type="number" ng-model="vm.user.weight" placeholder="your weight">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><strong>Height (Cm)</strong></span>
                        <input class="bottom-border-input" type="number" ng-model="vm.user.height" placeholder="your height">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><strong>Daily Activity</strong></span>
                        <select  ng-model="vm.user.dailyActivity" ng-options="obj for obj in vm.dailyActivityList" name="type" required>
                        </select>
                        <!--<input class="bottom-border-input" type="number" ng-model="vm.user.dailyActivity" placeholder="your height">-->
                    </label>
                    <div style="border: 1px solid lightgrey;" class="row">
                        <div class="col col-25 text-center">
                            <strong>Gender</strong>
                        </div>
                    <div class="button-bar">
                        <button class="button" ng-class="vm.selectedGender == 'male'? 'button-royal': 'button-stable' " ng-click="vm.selectGenderType('male')">Male</button>
                        <button class="button" ng-class="vm.selectedGender == 'female'? 'button-royal': 'button-stable' " ng-click="vm.selectGenderType('female')">Female</button>
                    </div>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-royal">
        <div class="buttons">
            <button class="button"></button>
        </div>
        <div class="buttons pull-right">
            <button class="button" ng-click="vm.submitUserInfo()">Submit <i class="icon ion-forward"></i></button>
        </div>
    </ion-footer-bar>
</ion-view>
