<ion-view view-title="Health Program" hide-nav-bar="true" class="health-program-bg" cache-view="false">

    <ion-content class="health-program-bg" padding="true" overflow-scroll="false">

        <div class="col col-center" style="padding-top: 150px">

            <button class="button button-full button-royal button-positive" ng-click="vm.personaliseApp('Lose Weight')">
                Lose Weight</button>
            <button class="button button-full button-royal button-positive" ng-click="vm.personaliseApp('Be fitter')">
                Be fitter</button>
            <button class="button button-full button-royal button-positive" ng-click="vm.personaliseApp('Gain Muscle')">
                Gain Muscle</button>
            <button class="button button-full button-royal button-positive" ng-click="vm.personaliseApp('Run Better')">
                Run Better</button>

        </div>

    </ion-content>
</ion-view>
