<ion-view view-title="My Profile" class="stable-bg" cache-view="false">

    <div class="spinner" ng-show="vm.progress">
        <ion-spinner icon="lines" class="spinner-royal"></ion-spinner>
    </div>

    <ion-content class="stable-bg" ng-show="!vm.progress" overflow-scroll="true">

        <div ng-if="vm.isProfileSelected">
            <ng-form name="vm.profileForm" role="profileForm" id="profileForm" novalidate>
                <div class="list">
                    <label class="item item-input item-stacked-label" ng-class="{'has-error':vm.profileForm.name.$dirty && vm.profileForm.name.$invalid, 'no-errors':vm.profileForm.name.$valid}">
                        <span class="input-label headline-font">Name</span>
                        <input type="text" style="width:370px;" placeholder="name" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.user.name" name="name" required>
                    </label>
                    <span class="error-container" ng-show="vm.profileForm.name.$dirty && vm.profileForm.name.$error"
                          ng-messages="vm.profileForm.name.$error"
                          ng-messages-include="app/layout/error-messages.html">
                    </span>

                    <label class="item item-input item-stacked-label" ng-class="{'has-error':vm.profileForm.email.$dirty && vm.profileForm.email.$invalid, 'no-errors':vm.profileForm.email.$valid}">
                        <span class="input-label headline-font">Email</span>
                        <input type="email" style="width:370px;" placeholder="email" ng-model="vm.user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" required>
                    </label>
                    <span class="error-container" ng-show="vm.profileForm.email.$dirty && vm.profileForm.email.$error"
                          ng-messages="vm.profileForm.email.$error"
                          ng-messages-include="app/layout/error-messages.html">
                    </span>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label headline-font">Mobile Number</span>
                        <input type="text" style="width:370px;" placeholder="number" name="mobile" ng-model="vm.user.mobile" ng-pattern="/^[0-9]*$/" ng-minlength=10
                               ng-maxlength=10 ng-readonly="!vm.user.fbLogin && !vm.user.googleLogin">
                    </label>
                    <span class="error-container" ng-show="vm.profileForm.mobile.$dirty && vm.profileForm.mobile.$error"
                          ng-messages="vm.profileForm.mobile.$error"
                          ng-messages-include="app/layout/error-messages.html">
                    </span>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label headline-font">Date of Birth</span>
                        <input type="text" style="width:370px;" placeholder="number" ng-model="vm.dateOfBirth" ng-readonly="true">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label headline-font">State</span>
                        <input type="text" style="width:370px;" placeholder="address" ng-model="vm.user.state" ng-pattern="/^[a-zA-Z\s]*$/" ng-disabled="true">
                    </label>
                    <span class="error-container" ng-show="vm.profileForm.state.$dirty && vm.profileForm.state.$error"
                          ng-messages="vm.profileForm.state.$error"
                          ng-messages-include="app/layout/error-messages.html">
                    </span>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label headline-font">City</span>
                        <input type="text" style="width:370px;" placeholder="address" ng-model="vm.user.city" ng-pattern="/^[a-zA-Z\s]*$/" ng-disabled="true">
                    </label>
                    <span class="error-container" ng-show="vm.profileForm.city.$dirty && vm.profileForm.city.$error"
                          ng-messages="vm.profileForm.city.$error"
                          ng-messages-include="app/layout/error-messages.html">
                    </span>

                </div>
                <div class="item item-body bottom-content">
                    <div class="row">
                        <div class="col col-45">
                            <button type="submit" class="button button-balanced button-small button-block" ng-click="vm.submitProfile()" ng-disabled="vm.profileForm.$invalid" >
                                Save
                            </button>
                        </div>
                        <div class="col col-45">
                            <button type="submit" class="button button-assertive button-small button-block" ng-click="vm.resetData()">
                                RESET
                            </button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>

        <div ng-if="vm.isChangePasswordSelected">
            <div class="card login-container">
                <ng-form name="vm.Form" role="Form" id="Form" novalidate>

                    <div class="list padding">
                        <label class="item item-input" show-hide-container ng-class="{'has-error':vm.Form.currentPassword.$dirty && vm.Form.currentPassword.$invalid, 'no-errors':vm.Form.currentPassword.$valid}">
                            <input type="password"  placeholder="Enter your Password"
                                   name="currentPassword" ng-model="vm.currentPassword" ng-minlength=6 required ng-disabled="vm.user.fbLogin || vm.user.googleLogin"  show-hide-input>
                        </label>

                        <div class="error-container" ng-show="vm.Form.currentPassword.$dirty && vm.Form.currentPassword.$error"
                             ng-messages="vm.Form.currentPassword.$error" ng-messages-include="app/layout/error-messages.html">
                        </div>

                        <label class="item item-input" show-hide-container ng-class="{'has-error':vm.Form.newPassword.$dirty && vm.Form.newPassword.$invalid, 'no-errors':vm.Form.newPassword.$valid}">
                            <input type="password"   placeholder="Enter a new Password"
                                   name="newPassword" ng-model="vm.newPassword" ng-minlength=6 required show-hide-input custom-validate validate-field="vm.currentPassword" ng-disabled="vm.user.fbLogin || vm.user.googleLogin">
                        </label>

                        <div class="error-container" ng-show="vm.Form.newPassword.$dirty && vm.Form.newPassword.$error"
                             ng-messages="vm.Form.newPassword.$error" ng-messages-include="app/layout/error-messages.html">
                            <div class="error" ng-message="passwordValidator">
                                <i class="ion-information-circled"></i>
                                New Password cannot be same as Old Password!
                            </div>
                        </div>

                        <label class="item item-input" show-hide-container ng-class="{'has-error':vm.Form.password2.$dirty && vm.Form.password2.$invalid, 'no-errors':vm.Form.password2.$valid}">
                            <input type="password" placeholder="Repeat Password"
                                   name="password2" ng-model="vm.password2" compare-to="vm.newPassword" required show-hide-input ng-disabled="vm.user.fbLogin || vm.user.googleLogin">
                        </label>

                        <div class="error-container" ng-show="vm.Form.password2.$dirty && vm.Form.password2.$error"
                             ng-messages="vm.Form.password2.$error" ng-messages-include="app/layout/error-messages.html">
                        </div>

                        <input type="hidden"  name="key" ng-model="vm.key"/>
                    </div>

                    <div class="item item-body bottom-content">
                        <button type="submit" class="button button-balanced button-block" ng-click="vm.submitPassword()" ng-disabled="vm.Form.$invalid" >
                            Change  Password
                        </button>
                    </div>
                </ng-form>
            </div>
        </div>

    </ion-content>

    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs tabs-icon-left">
            <a class="tab-item" ng-class="vm.isProfileSelected ? 'active' : ''" ng-click="vm.changeTab('profile')">
                <i class="icon ion-person"></i>
                My Information
            </a>
            <a class="tab-item" ng-class="vm.isChangePasswordSelected ? 'active' : ''" ng-click="vm.changeTab('password')">
                <i class="icon ion-key"></i>
                Chnage Password
            </a>
        </div>
    </div>
</ion-view>
