<ion-view view-title="Playboard" cache-view="false">

    <ion-content ng-show=" !vm.progress" class="stable-bg" overflow-scroll="true">

        <div class="card" ng-if="vm.showTimer && vm.currentDate.getHours() >= vm.tokenExpire">

            <div class="row">
                <div class="col text-center">
                    <h3>You can play before</h3>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h4><strong class="assertive">Hours : Minutes : Seconds</strong></h4>
                    <h1><strong class="assertive">{{vm.timeRemaining}}</strong></h1>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button ng-if="vm.currentDate.getHours() >= 13" class="button button-block button-light">
                        Check Morning Session Winner
                    </button>

                    <button ng-if="vm.currentDate.getHours() >= 20" class="button button-block button-light">
                        Check Evening Session Winner
                    </button>
                </div>
            </div>

        </div>

        <div class="card" ng-if="!vm.showTimer && vm.currentDate.getHours() >= vm.tokenExpire">

            <div class="row" ng-if="vm.showTimerNextDay">
                <div class="col text-center">
                    <h3>You can play after</h3>
                </div>
            </div>

            <div class="row" ng-if="!vm.showTimerNextDay">
                <div class="col text-center">
                    <h3>You can play tomorrow</h3>
                </div>
            </div>

            <div class="row" ng-if="vm.showTimerNextDay">
                <div class="col text-center">
                    <h1><strong class="assertive" ng-if="vm.currentDate.getHours() < 13">01:00 PM</strong></h1>
                    <h1><strong class="assertive" ng-if="vm.currentDate.getHours() >= 13">08:00 PM</strong></h1>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button ng-if="vm.currentDate.getHours() >= 13" class="button button-block button-light">
                        Check Morning Session Winner
                    </button>
                    <button ng-if="vm.currentDate.getHours() >= 20" class="button button-block button-light">
                        Check Evening Session Winner
                    </button>
                </div>
            </div>

        </div>

        <div class="row col text-center" ng-if="vm.currentDate.getHours() >= vm.tokenExpire">
            <button class="button button-large button-balanced customBtn" ng-disabled="!vm.showTimer" ng-click="vm.play()">PLAY</button>
        </div>

        <div class="card" ng-if="vm.currentDate.getHours() < vm.tokenExpire">

            <div class="row">
                <div class="col text-center">
                    <h3>Your token is</h3>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h1><strong class="balanced">{{vm.token.token}}</strong></h1>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h3>Lucky draw will be at -
                        <span ng-if="vm.currentDate.getHours() < 13"> 01:00 PM</span>
                        <span ng-if="vm.currentDate.getHours() >= 13"> 08:00 PM</span>
                    </h3>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center">
        <div class="buttons">
            <button class="button">NOTE - 25 points will be deducted after each answer !!</button>
        </div>
        <div class="buttons">
            <button class="button"></button>
        </div>
    </ion-footer-bar>
</ion-view>
