/* Empty. Add your own CSS if you like */


/* ion spinner css */

div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 65px;
    text-align: center;
}
.spinner svg {
    width: 15% !important;
    height: 65px !important;
}

.fixed-header{
    margin-top:43px;
    position:absolute;
    /*
     The ionic header bar is 43px in height,
     put your content below the header bar.
    */
}

.ion-content-below-fixed-header{
    margin-top:43px!important;
}

.bottom-border-input{
    border-bottom: 1px solid black
}

.health-program-bg {
    background: url("../img/wallpaper-one.jpg") no-repeat center;
    background-size: 100% 100%; }


.bar-footer{
    height:50px !important;
}

.button.customBtn{
    width:150px;
}

.align-image-center {
    left: 0;
    right: 0;
    margin:0 auto;
}

.sidebar-font {
    font-family: 'Risque', cursive !important;
}

.headline-font {
    font-family: 'Supermercado One', cursive !important;
}

.date-font {
    font-family: 'Russo One', sans-serif !important;
}

.history-result-font {
    font-family: 'Permanent Marker', cursive !important;
}